{% extends 'html/base.html'%}


{% block title %}

    Acceuil

{% endblock%}

	{% load static %}
{% block style %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/acceuil.css' %}">
    <link  rel="stylesheet" href="{% static 'fontawesome-free-5.14.0-web/css/all.min.css' %}">
{% endblock %}

{% block contend %}

        


    <div class="banniere">
    
         <div class="titre">
              <span><strong>PYRAMIDE</strong> SERVICES</span>
              <p>BÂTIMENT</p>
               <nav>bâtiments – Froid-climatisation – Electricité Générale – Plomberie industrielle – <br>
              Installation – Maintenance  – Import-Export – Electromecanique – Electrotechnique</nav>
      </div>

      <div class="text">
        <span>Bienvenue a <strong>PYRAMIDE</strong> SERVICES <br><br></span>
        Notre entreprise est une structure au régime normal dont la Rigueur, le Dynamisme, le Respect de la clientèle, de ses engagements et la Compétence demeurent nos atouts pour une compétitivité plus accrue, pour le bonheur de nos partenaires – clients.
      </div>
    
    </div>

    <div class="centre">
        <div class="cas1"></div>
        <div class="cas2">
            <p>

            <strong>BATIMENT</strong><br><br>
            <span>PYRAMIDE</span> SERVICES, est spécialisée dans la construction de bâtiment.

               Quel que soit votre projet, notre équipe de professionnels met ses compétences et son savoir-faire à votre service.
               
               Nous vous proposons aussi une assistance technique à votre écoute tout au long de la réalisation de votre cĥantier, et nous disposons de moyens conséquents pour assurer tout types d'intervention.
               
               De la construction à la rénovation de bâtiments, nous pouvons intervenir rapidement et vous proposer un devis adapté à vos besoins.
               
               Nous vous proposons de vous présenter plus amplement nos activités lors d'un rendez-vous à votre convenance.
            </p>
            <div class="cas1-respon"></div>
        </div>
        <div class="cas3">
            <p>
                <strong>ELECTRICITÉ</strong><br><br>
                La société <span>PYRAMIDE</span> SERVICES,vous propose ses services en électricité générale et en installation, rénovation / mise aux normes de vos dispositifs électriques. (tableau électrique, éclairage, contrôle d’accès, chauffage, motorisation etc.).

                  Nos électriciens assurent également toutes vos demandes de dépannage en urgence ou non.
                  Nous intervenons depuis plus de 5 ans afin de satisfaire les professionnels, les particuliers, les syndics de copropriétés et les collectivités.
                  Nous vous accompagnons dans tous vos projets électriques. En effet, si vous souhaitez faire des travaux en électricité dans votre habitation, votre commerce ou votre copropriété, il vous suffit de nous contacter afin d’obtenir des conseils de la part de nos électriciens et recevoir un devis gratuit.<br>
                  N’hésitez pas à nous <a href="{%'contact' %}"><span>contacter</span></a> afin d’obtenir un devis gratuit.
            </p>
            <div class="cas2-respon"></div>             
        </div>
        <div class="cas4"></div>
        <div class="cas5"></div>
        <div class="cas6">
            <p>
                <strong>FROID ET CLIMATISATION</strong><br><br>
                Nous exerçons dans la climatisation (compresseurs, fréon, cuivre, armaflex, détenteurs, huiles.),la vente de matériel, de chambre froide(groupe BITZER, évapo, etc.); l'installation des systèmes VRV, CTA, split résidentiel; la maintenance des systèmes VRV, splits résidentiels, systèmes d'eau glacée, VMC double flux.
           </p>
           <div class="cas3-respon"></div>
        </div>
        <div class="cas7">
            <p>
                <strong>PLOMBERIE</strong><br><br>
                Notre entreprise réalise des études et les travaux associés, des dépannages, et assure la maintenance d’installations dans le domaine de la tuyauterie industrielle, de la plomberie sanitaire, du chauffage et du génie climatique depuis 5 ans.

                    Elle possède une solide expérience de réalisation d’installations très variées, réseaux de distribution de fluides liquides et gazeux, plomberie sanitaire, chaufferies de petite et grande puissance, ventilation de confort et industrielle, chauffage climatisation à détente direct réversible, réseaux fonte enterrés.
                    
                    Elle opère auprès de clients industriels, d’établissements de santé, de collectivités, de ministères, de groupes hôteliers et de la grande distribution.
                    
                    Elle est basée à Vénissieux depuis toujours.
           </p>
           <div class="cas4-respon"></div>
        </div>
        <div class="cas8"></div>
        <div class="cas9">
            <div class="coller"></div>
        </div>
        <div class="cas10">
            <p>
                <strong>IMPORT ET EXPORT</strong><br><br>
            spécialisée dans l'import export ,<span style="color: #fff;font-weight: 600;">PYRAMIDE</span>-SERVICE vous accompagne dans la vente, location de voiture utilitaire ainsi que 
            que la vente de location de BTP.Pyramide service réalise plusieurs activités ausssi bien en contrat direct qu'en sous traitance.Nous vous garantissons une satisfaction absolue.
           </p>
           <div class="cas5-respon">
               <div class="cas5-respon-coller"></div>
           </div>
        </div>

        <!---ajout de cas 11-12 pour electromecanique-->

        <div class="cas11"></div>
        <div class="cas12">
            <p>
                <strong>ELECTROMECANIQUE</strong><br><br>
              Nous sommes aussi specialisée dans la reparation d'électromecanique, ré-bobinage des moteurs electrique, installation et reparation de groupe electrogène industrielle ,entretien de transformateur
              H59 et H61.
           </p>
           <div class="cas6-respon">
               <div class="cas6-respon-coller"></div>
           </div>
        </div>
        <div class="cas13">
            <div class="coller2"></div>
        </div>

    <!---ajout de cas 14-15 pour electrotechnique-->

        <div class="cas14"></div>
        <div class="cas15">
            <div class="coller"></div>
        </div>
        <div class="cas16">
            <p>
                <strong>ELECTROTECHNIQUE</strong><br><br>
                Nous sommes aussi spécialisée dans la réparation d'électromécanique, ré-bobinage des moteurs électrique, installation et réparation du groupe électrogène industriel, entretien de transformateur
                H59 et H61.
           </p>
           <div class="cas7-respon">
               <div class="cas7-respon-coller"></div>
           </div>
        </div>

<!---ajout de cas 17-18 pour froid et climatisation-->

    </div>

    <a href="{% url 'contact' %}" class="btn-devis">Demande de devis<i class="fa fa-clipboard-list"></i></a>

    

{% endblock %}

