<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="acceuil.css">
</head>
<body>
    <div class="pere">
        <div class="header">
           <img src="img/logo2.png" height="50" width="50">
            <a href="#" id="lien1">Acceuil</a>
            <a href="#">Contact</a>
        </div>

        <div class="banniere">
        
		     <div class="titre">
			      <span><strong>PYRAMIDE</strong> SERVICES</span>
			      <p> FROID – CLIMATISATION</p>
			       <nav>Electricité Générale – Bâtiment – Plomberie industrielle
			      Installation – Maintenance  - Vente</nav>
          </div>

          <div class="text">
            <span>Bienvenue au <strong>PYRAMIDE</strong> SERVICES <br><br></span>
            Notre entreprise est une structure au régime normal dont la Rigueur, le Dynamisme, le Respect de la clientèle, de ses engagements et la Compétence demeurent nos atouts pour une compétitivité plus accrue, pour le bonheur de nos partenaires – clients.
          </div>
        
        </div>

        <div class="centre">

          <p class="txt">L’Entreprise <strong>PYRAMIDE</strong> SERVICES est structurée en quatre (04) entités en fonction des différentes activités :</p>

         <div class="cas1">

           <div class="cas1-1">
             <p>

                <strong>BATIMENT</strong><br><br>
                Notre société <span>PYRAMIDE</span> SERVICES, uest spécialisée dans le construction de bâtiment.

                    Quel que soit votre projet, notre équipe de professionnels met ses compétences et son savoir-faire à votre service.
                    
                    Nous vous proposons aussi une assistance technique à votre écoute tout au long de la réalisation de votre cĥantier, et nous disposons de mouens conséquents pour assurer tout types d'intervention.
                    
                    De la construction à la rénovation de bâtiments, nous pouvons intervenir rapidement et vous proposer un devis adapté à vos besoins.
                    
                    Nous vous proposons de vous présenter plus amplement nos activités lors d'un rendez-vous à votre convenance.
            </p>
           </div>

         </div>

         <div class="cas2">

           <div class="cas2-2">
            <p>
                <strong>ELECTRICITÉ</strong><br><br>
				La société <span>PYRAMIDE</span> SERVICES,vous propose ses services en électricité générale et en installation, rénovation / mise aux normes de vos dispositifs électriques. (tableau électrique, éclairage, contrôle d’accès, chauffage, motorisation etc.).

Nos électriciens assurent également toutes vos demandes de dépannage en urgence ou non.
Nous intervenons depuis plus de 13 ans afin de satisfaire les professionnels, les particuliers, les syndics de copropriétés et les collectivités.
Nous vous accompagnons dans tous vos projets électriques. En effet, si vous souhaitez faire des travaux en électricité dans votre habitation, votre commerce ou votre copropriété, il vous suffit de nous contacter afin d’obtenir des conseils de la part de nos électriciens et recevoir un devis gratuit.<br>
N’hésitez pas à nous <a href="contact.html"><span>contacter</span></a> afin d’obtenir un devis gratuit.
            </p>             
           </div>

         </div>



         <div class="cas3">

            <div class="cas3-3">
                <p>
                    <strong>MAINTENANCE</strong><br><br>
                    Notre pôle Maintenance assure un service a domicile 24h/24 en plomberie.Nous pourrons intervenir en urgence dans un délai de 30 à 45 minutes suivant votre appel ou sur rendez-vous, à votre convenance, dnas toute la capitale d'Abidjan. Nous nous déplaçons gratuitement afin de vous établir un dévis détaillé
               </p>
            </div>
 
          </div>
 
          <div class="cas4">
 
            <div class="cas4-4">
                <p>
                    <strong>PLOMBERIE</strong><br><br>
                    Notre entreprise réalise des études et les travaux associés, des dépannages, et assure la maintenance d’installations dans le domaine de la tuyauterie industrielle, de la plomberie sanitaire, du chauffage et du génie climatique depuis 50 ans.

                        Elle possède une solide expérience de réalisation d’installations très variées, réseaux de distribution de fluides liquides et gazeux, plomberie sanitaire, chaufferies de petite et grande puissance, ventilation de confort et industrielle, chauffage climatisation à détente direct réversible, réseaux fonte enterrés.
                        
                        Elle opère auprès de clients industriels, d’établissements de santé, de collectivités, de ministères, de groupes hôteliers et de la grande distribution.
                        
                        Elle est basée à Vénissieux depuis toujours.
               </p>
            </div>
            
          </div>


         <div class="cas5">

            <div class="cas5-5">
                <p>
                    <strong>VENTE</strong><br><br>
                    Notre Entreprise est spécialisée dans la vente de fournitures de bureau, de matériels informatiques et de mobilier de bureau. 
                    
                    Société spécialisée dans la vente de produits pour le bureau, notre raison d'être est de faciliter le quotidien des entreprises et particuliers en proposant une large sélection de produits en adéquation avec leurs besoins.
               </p>
               <div class="cas5-5-5"></div>
            </div>
 
         </div>
            

        </div>

        <footer>

          <p><strong>PYRAMIDE</strong> SERVICES</p>
         <div class="bars">
      
          <div>
              
              <strong>Entreprise poly-activité</strong><br>
              Siège social :   Abidjan Cocody - Angré 8ème tranche<br>
              Mobile : +225 22 45 82 11
              Mobile : +225 88 72 56 99 
              Email : pyramideservice02@gmail.com  
      
           </div>
           
           <div>
             <span>EXCUTION DE PROJET</span><br>
             Dans un souci perpétuel de respecter la relation Client – Opérateur, la société s’est fondée sur le Respect stricte de son Programme et Planning d’exécution très bien défini.
           </div>
      
           <div>
            <span>SECURITE</span><br>
            Nous sommes strictes sur les principes fondamentaux de sécurité par non seulement le choix de nos collaborateurs mais aussi l'obligation d'utilisation d'EPI sur nos chantiers et surtout l'entretien permanent d'un esprit d'equipe.
           </div>
      
           <div>
            <span>NOS ATOUTS</span><br>
            Rigueur – Dynamisme – Respect de la clientèle et du planning – Compétence.
           </div>
         </div>
      
         <div class="sign">
          © <span>ESO-DEV</span> 2020 | Agence marketing digital Abidjan - Création de sites internet - Référencement SEO - Webmarketing - Réseaux Sociaux
        </div>
        </footer>

    </div>
</body>
</html>